
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url(../img/back.svg);
  background-size: contain;
  background-position: 0px 1320px;
}


/* header */

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
  padding-top: 112px;
}

#header-scrolled {
  position: fixed;
  width: 100%;
  transition: all .5s;
}

#header-scrolled.header-out {
  transform: translateY(-100%);
}

.header-title {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.header {
  width: 100%;
  display: flex;
  background-color: #2e2e2e;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.header-href {
  width: auto;
  height: auto;
}

.header-title-img {

}

.header-adress-href {
  text-decoration: none;
  color: white;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  border: solid 1px white;
  border-radius: 64px;
  margin: 16px;
}

.header-nav a {
  text-decoration: none;
}

.header-nav-item {
  color: white;
  margin-left: 36px;
  padding: 6px 12px;
  font-size: 32px;
  border-radius: 24px;
  transition: all .4s;
}

.header-nav-item:hover {
  background-color: white;
  color:black;
}

.header-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  margin-left: 24px;
  padding: 0;
  transition: all .4s;
}

.nav-home-icon {
  width: 85px;
  border-radius: 85px;
  transition: all 0.4s;
  translate: 0.4s;
}

.nav-home-icon:hover {
  content: url(../img/homeic_black.svg);
  transition: all .4s;
}

.header-nav-closed {
  transition: all .4s;
  font-size: 0px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.header-close-btn {
  transition: all .4s;
  margin: 4px;
  rotate: 720deg;
}



/* slider */

.slider {
  width: 100%;
  height: max-content;
  background-color: #3D4CD9;
  background-image: url(../img/logovector.svg);
  background-size: 520px;
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 60px;
}

.slider-title {
  color: white;
  font-size: 58px;
  padding: 120px 0 60px 80px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

#slider-time {
  color: rgba(255, 199, 0, 1);
  font-size: 96px;
  margin: 0;
}

.slider-btn {
  margin-left: 120px;
  width: max-content;
  display: block;
  padding: 24px 122px;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 199, 0, 1);
  border-radius: 48px;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-btn:hover {
  background-color: white;
  color: #3D4CD9;
}

/* container */

.container {
  width: 1200px;
  margin: auto;
}

.service-inspection {

}

.service-title {
  font-size: 96px;
  color: rgba(61, 76, 217, 0.2);
  display: block;
  margin: auto;
  width: max-content;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: relative;
  line-height: 42px;
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}

.service-title-descr {
  color: black;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  width: max-content;
  min-width: max-content;
  max-width: max-content;
  margin: auto;
  text-align: center;
  margin-top: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-inspection-download {
  display: block;
  margin: auto;
  width: 720px;
  border: 2px dashed rgba(0, 20, 205, 0.8);
  border-radius: 54px;
  margin-bottom: 144px;
}

.service-inspection-download p {
  padding: 48px;
  padding-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.postanovlenie {
  width: max-content;
  display: block;
  margin: auto;
  margin-bottom: 48px;
}

.postanovlenie img {
  width: 160px;
}

.how-inspection {

}

.how-inspection-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 104px;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position: 0px 177px;
  height: 180px;
  /* background-color: #3D4CD9;
  border-radius: 64px;
  color: white;
  padding: 24px 8px; */
}

.how-inspection-points {
  width: 960px;
  margin: auto;
}

.how-inspection-point {
  width: 960px;
  height: 210px;
  border: 1px solid black;
  border-radius: 121px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 740px;
  margin-bottom: 80px;
}

#zapis {
  background-image: url(../img/zapis.svg);
}

#osmotr {
  background-image: url(../img/osmotr.svg);
}

#oform-dk {
  background-image: url(../img/oform-dk.svg);
}

#oform-str {
  background-image: url(../img/oform-str.svg);
}

#oform-gibdd {
  background-image: url(../img/oform-gibdd.svg);
}

.text-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.point-number {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
  color: rgba(61, 76, 217, 0.2);
  padding-left: 32px;
  position: absolute;
  top: 32px;
  left: 20px;
}

.point-content {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
}

.about-inspection .slider-btn {
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 48px;
}

.about-inspection {
  width: 100%;
  background-color: #3D4CD9;
  padding-bottom: 64px;
}

.about-inspection-title {
  display: block;
  width: max-content;
  margin: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding: 64px;
}

.about-inspection-list {
  width: max-content;
  list-style: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  display: block;
  margin: auto;
}

.about-inspection-list-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 100px;
  padding-right: 32px;
  transition: all .4s;
}

.about-inspection-list-item:hover {
  background-color: white;
  color: #3D4CD9;
}

.about-inspection-list-item:last-child {
  margin-bottom: 0;
}

.list-img {
  width: 72px;
  margin-right: 24px;
}

.how-alteration {

}

.how-alteration-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.how-alteration-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 96px;
  padding: 32px 0px;
  background-image: url(../img/line.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.how-alteration-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3D4CD9;
  width: 540px;
  height: 120px;
  border-radius: 42px;
  margin-bottom: 24px;
}

.how-alteration-item:last-child {
  margin-bottom: 64px;
}

.how-alteration-item-right {
  margin-left: 320px;
}

.how-alteration-item-left {
  margin-right: 320px;
}

.how-alteration-number {
  width: max-content;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  padding: 0px 24px;
  margin-left: 30px;
  background-color: white;
  border-radius: 1000px;
}

.how-alteration-item-right .how-alteration-number {
  margin-right: 30px;
  margin-left: 0;
}

.how-alteration-content {
  display: block;
  margin: auto;
  width: max-content;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  text-align: center;
}

.how-alteration .slider-btn {
  display: block;
  width: max-content;
  margin: auto;
}

.how-alteration .slider-btn:hover {
  background-color: #3D4CD9;
  color: white;
}

.about-us {

}

.about-us-box {
  display: block;
  margin: auto;
  width: 1024px;
  border: 1px dashed #3D4CD9;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.about-us-box p {
  margin: 48px 64px;
}

.preferences {

}

.pref-cards-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pref-card {
  width: 260px;
  height: 260px;
  /* background-color: #3D4CD9; */
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  transition: all .6s;
  position: relative;
}

.front img {
  width: 120px;
}

.front, .back {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: all .6s;
}

.front p, .back p {
  padding: 45px;
}

.front {
  background-color: #3D4CD9;
}

.back {
  background-color: rgba(255, 199, 0, 1);
}

.pref-card .front {
  background-size: 144px;
}


.pref-card-left .front {
  border-radius: 20px 20px 20px 155px;
  background-image: url(../img/calculate.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pref-card-left .back {
  color: black;
  border-radius: 20px 20px 155px 20px;
  transform: rotateY(180deg);
}


.pref-card-middle .front {
  border-radius: 60px 20px;
  background-image: url(../img/plan.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pref-card-middle .back {
  color: black;
  border-radius: 20px 60px;
  transform: rotateX(180deg);
}
.pref-card-right .front {
  border-radius: 20px 20px 155px 20px;
  background-image: url(../img/deadline.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pref-card-right .back {
  color: black;
  border-radius: 20px 20px 20px 155px;
  transform: rotateY(-180deg);
}




.pref-card:hover .front {transform: rotateY(180deg);}
.pref-card:hover .back {transform: rotateY(360deg);}

.pref-card-middle:hover .front {transform: rotateX(180deg);}
.pref-card-middle:hover .back {transform: rotateX(360deg);}

.pref-card-right:hover .front {transform: rotateY(-180deg);}
.pref-card-right:hover .back {transform: rotateY(-360deg);}

/* .pref-card-left {
  border-radius: 20px 20px 20px 155px;
} */

.pref-card-middle {
  border-radius: 60px 20px;
}

.pref-card-right {
  border-radius: 20px 20px 155px 20px;
}

/* .incard-text {
  padding: 45px;
} */


.online-appointment {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 64px;
}

.online-appointment .service-title {
  margin-bottom: 64px;
}

.easyweek-widget {
  width: 100%;
  height: 825px;
  overflow: hidden;
}


.online-appointment .service-title {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 48px;
}

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map {
  width: 50%;
  height: 600px;
}

.contact-us-block {
  background-color: #3D4CD9;
  width: 50%;
  height: 600px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 600px 100px;
}

.contact-us-title {
  padding: 36px 0;
  font-style: normal;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: block;
  margin-left: 72px;
  width: max-content;
  margin-bottom: 16px;
}

.contact-us-title h3 {
  font-size: 47px;
  text-transform: uppercase;
  display: block;
  width: max-content;
  margin: 0;
}

.contact-us-title p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}


.contact-us-box {
  width: 436px;
  padding: 42px;
  margin-left: 72px;
  background-color: white;
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-btn {
  text-decoration: none;
  color: #2e2e2e;
  width: 360px;
  height: 72px;
  border: #2e2e2e 1px solid;
  border-radius: 56px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 72px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s;
  justify-content: center;
}

#Telegram-btn {
  border-color: #59AAE7;
}

#Telegram-btn::before {
  background-color: #59AAE7;
  background-image: url(../img/tg.svg);
  border-radius: 56px;
  background-repeat: no-repeat;
  background-position: right;
}

#WhatsApp-btn::before {
  background-color: #4CAF50;
  background-image: url(../img/whts.svg);
  border-radius: 56px;
  background-repeat: no-repeat;
  background-position: right;
}

#Email-btn::before {
  background-color: #4B7BA3;
  background-image: url(../img/email.svg);
  border-radius: 56px;
  background-repeat: no-repeat;
  background-position: right;
}

#WhatsApp-btn {
  border-color: #4CAF50;
}


#Email-btn {
  border-color: #4B7BA3;
}


.contact-us-btn:last-child {
  margin-bottom: 0;
}

.contact-us-btn::before {
  background-size: 72px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  z-index: -2;
  transform: translateX(-288px);
}

.contact-us-btn:hover::before {
  transform: translateX(0);
}

.contact-us-btn:hover {
  color: white;
  background-position: right;
  transition: all 0.4s;
}

.contact-us-btn p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  display: block;
  margin: 0;
  transition: all 0.4s;
  margin-left: 48px;
}

.contact-us-btn:hover p {
  margin-right: 64px;
}

.foot-info {
  width: 100%;
  background-color: rgba(61, 76, 217, 0.2);
}

.system-info {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.adress-info {
  background-image: url(../img/adress.svg);
}

.worktime-info {
  background-image: url(../img/worktime.svg);
}


.block-50 {
  width: 50%;
  padding-left: 96px;
  margin: 36px 0;
  margin-left: 24px;
  background-repeat: no-repeat;
  background-position: top left;
}

.block-50 h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block-50 p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  letter-spacing: 0.04em;
}

.confidence-info {
  padding: 0 72px 32px 72px;
}

.footer {
  width: 100%;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-logo {
  padding: 32px;
  display: inline-block;
  width: max-content;
}

.foot-nav {
  display: inline-block;
  width: max-content;
  display: flex;
  align-items: center;

}

.foot-nav-item {
  margin-right: 24px;
  color: white;
  padding: 6px 12px;
  transition: all 0.4s;
  border-radius: 12px;
}

.foot-nav-item:last-child {
  margin-right: 48px;
}

.foot-nav-item:hover {
  background-color: white;
  color: #2e2e2e;
}


@media (max-width:1520px) {

  .content {
    padding-top: 48px;
  }

  .header {
  }

  .header-title {

  }

  .header-nav-item {
    font-size: 24px;
  }

  .nav-home-icon {
    width: 64px;
    height: 64px;
  }

  .slider {
    background-size: 320px;
  }

  .slider-title {
    color: white;
    font-size: 48px;
    padding-left: 56px;
  }

  #slider-time {
    color: rgba(255, 199, 0, 1);
    font-size: 72px;
  }

  .slider-btn {
    font-size: 32px;
    padding: 18px 96px;
  }

}

/* @media (max-width:1279px) {
  .header {
    justify-content: space-between;
  }

  .header-nav-item {
    transition: all .4s;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }

  .header-nav-closed {
    width: max-content;
    color: white;
    margin-left: 6px !important;
    padding: 10px 6px !important;
    font-size: 8px !important; 
    font-weight: 400 !important;
    border-radius: 24px !important;
    transition: all .4s !important;
  }

  .header-close-btn {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    margin-left: 12px;
    padding: 0;
    transition: all .4s;
    rotate: 720deg;
  }

  .header-open-btn {
    transition: all .4s;
    margin: 4px;
    rotate: 720deg;
  }

  .nav-home-icon {
    width: 32px;
    height: 32px;
    border-radius: 85px;
    transition: all 0.4s;
    translate: 0.4s;
  }

  .header-title img {
    width: 100%;
  }
  
  .header-href {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-adress-href {
    display: none;
  }
} */

@media (max-width:1279px) {

  .container {
    width: 360px;
  }

  .content {
    padding-top: 32px;
  }

  .header {
    justify-content: space-between;
    width: auto;
  }

  .header-nav-item {
    transition: all .4s;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }

  .header-nav-closed {
    width: max-content;
    color: white;
    margin-left: 6px !important;
    padding: 10px 6px !important;
    font-size: 8px !important; 
    font-weight: 400 !important;
    border-radius: 24px !important;
    transition: all .4s !important;
  }

  .header-close-btn {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    margin-left: 12px;
    padding: 0;
    transition: all .4s;
    rotate: 720deg;
  }

  .header-open-btn {
    transition: all .4s;
    margin: 4px;
    rotate: 720deg;
  }

  .nav-home-icon {
    width: 32px;
    height: 32px;
    border-radius: 85px;
    transition: all 0.4s;
    translate: 0.4s;
  }

  .header-title img {
    width: 100%;
  }
  
  .header-href {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-adress-href {
    display: none;
  }

  .slider {
    width: 100%;
    background-image: none;
  }

  .slider-title {
    padding: 20px;
    padding-top: 80px;
    max-width: 360px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
    display: block;
    margin: auto;
  }

  #slider-time {
    font-size: 36px;
  }

  .slider-btn {
    max-width: 200px;
    padding: 16px 32px;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-bottom: 16px;
  }

  .service-title {
    width: 100%;
    font-size: 42px;
    margin-top: 48px;
    margin-bottom: 36px;
    color: #2e2e2e;
  }

  .service-title-descr {
    display: none;
  }

  .service-inspection-download {
    max-width: 100%;
    min-width: fit-content;
    background-color: #fff;
  }

  .service-inspection-download p {
    font-size: 18px;
    padding: 0;
    margin: 24px;
  }

  .postanovlenie {
    margin-bottom: 18px;
  }

  .about-inspection-title {
    padding: 12px 0;
    width: 100%;
    font-size: 32px;
    line-height: 36px;
  }

  .about-inspection-title p {
    margin-top: 32px;
    padding: 32px 18px;
    text-align: center;
    background-color: white;
    color: #3D4CD9;
    border-radius: 42px;
  }

  .about-inspection-list {
    width: 100%;
    padding: 0;
  }

  .about-inspection-list-item {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 48px;
  }

  .about-inspection-list-item:hover {
    color: white;
    background-color: #3D4CD9;
  }

  .list-img {
    width: 64px;
    height: 64px;
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 12px;
  }

  .how-alteration-title {
    font-size: 24px;
    line-height: 36px;
  }

  .how-alteration-item {
    max-width: 360px;
    max-height: 100px;
  }

  .how-alteration-number {
    font-size: 36px;
    line-height: 36px;
    padding: 10px 18px;
  }

  .how-alteration-content {
    font-size: 18px;
    line-height: 32px;
  }

  .how-alteration-item-left, .how-alteration-item-right {
    margin: 0;
    margin-bottom: 24px;
  }

  .about-us-box {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    background-color: #fff;
  }

  .about-us-box p {
    padding: 0px;
    margin: 24px;
  }

  .preferences .service-title {
    font-size: 36px;
  }
  
  .pref-cards-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .pref-card {
    width: 240px;
    height: 240px;
    margin-bottom: 32px;
  }

  .front, .back {
    border-radius: 30px !important;
  }

  .online-appointment {
    margin-bottom: -5px;
  }

  .online-appointment .service-title {
    width: 100%;
    padding: 0;
    display: block;
    margin: auto;
    font-size: 36px;
    margin-bottom: 48px;
  }

  .easyweek-widget {
    margin: 0;
    padding: 0;
  }

  .contact-us {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contact-us-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contact-us-title {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .contact-us-title {
    width: 360px;
    background-image: url(../img/line.svg);
    background-position: top;
    background-repeat: no-repeat;
  }

  .contact-us-title h3 {
    font-size: 28px;
    text-align: center;
  }

  .contact-us-title p {
    text-align: center;
  }

  .contact-us-box {
    width: 360px;
    margin: 0;
    padding: 24px 0;
  }

  .contact-us-btn {
    width: 300px;
  }

  .contact-us-btn::before {
    transform: translateY(-228px);
  }

  .contact-us-btn-text {
    margin: 0 !important;
    font-size: 28px !important;
  }

  .map {
    width: 100%;
    height: 320px;
  }

  .system-info {
    width: auto;
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
  }

  .block-50 {
    width: 100%;
    padding: 48px 0;
    background-size: 48px;
    margin: 0;
  }

  .block-50:first-child {
    margin-top: 24px;
  }

  .block-50 h3 {
    font-size: 24px;
    margin: 8px 0;
  }

  .block-50 p {
    font-size: 18px;
    margin: 6px 0;
  }

  .footer {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .foot-logo {
    padding: 0;
  }

  .foot-nav-item:last-child {
    margin-right: 0;
  }

  .confidence-info p {
    font-size: 8px;
  }

}

@media (max-width:320px) {

}



